/**
 * Netshoes theme for reveal.js.
 */
@font-face {
    font-family: "netshoes_displaybold";
    src: url('/lib/font/netshoesdisplay-bold-webfont.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "netshoes_displaybold";
    src: url('/lib/font/netshoesdisplay-bold-webfont.woff') format('woff'),
         url('/lib/font/netshoesdisplay-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "netshoes_displayblack";
    src: url('/lib/font/netshoesdisplay-black-webfont.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "netshoes_displayblack";
    src: url('/lib/font/netshoesdisplay-black-webfont.woff') format('woff'),
         url('/lib/font/netshoesdisplay-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "icons";
    src: url('/lib/font/icons.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "icons";
    src: url('/lib/font/icons.woff') format('woff'),
         url('/lib/font/icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Chrome fix */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "netshoes_displaybold";
            src: url('/lib/font/netshoesdisplay-bold-webfont.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "netshoes_displayblack";
            src: url('/lib/font/netshoesdisplay-black-webfont.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "icons";
            src: url('/lib/font/icons.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #13abe1;
  background: -moz-linear-gradient(left, #13abe1 0%, #c6e449 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#13abe1), color-stop(100%,#c6e449));
  background: -webkit-linear-gradient(left, #13abe1 0%,#c6e449 100%);
  background: -o-linear-gradient(left, #13abe1 0%,#c6e449 100%);
  background: -ms-linear-gradient(left, #13abe1 0%,#c6e449 100%);
  background: linear-gradient(to right, #13abe1 0%,#c6e449 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13abe1', endColorstr='#c6e449',GradientType=1 );
  background-color: #2b2b2b;
}

.reveal {
  font-family: "netshoes_displaybold", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #5a2d82;
  text-transform: uppercase;
}

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #5a2d82;
  font-family: "netshoes_displayblack", sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #fe0042;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #71e9f4;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.reveal a:hover img {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.2);
  border-color: #fe0042;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: rgb(90, 45, 130);
  border-right-color: rgba(90, 45, 130, 0.5);
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: rgb(90, 45, 130);
  border-left-color: rgba(90, 45, 130, 0.5);
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: rgb(90, 45, 130);
  border-bottom-color: rgba(90, 45, 130, 0.5);
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: rgb(90, 45, 130);
  border-top-color: rgba(90, 45, 130, 0.5);
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #71e9f4;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #71e9f4;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #71e9f4;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #71e9f4;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #5a2d82;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #5a2d82
}

/*********************************************
 * LOGO
 *********************************************/
.logo-holder {
  display: block;
  position: absolute;
  bottom: 14px;
  left: 20px;
  z-index: 20;
}

.logo {
  text-decoration: none;
}

.logo:after {
  color: #5a2d82;
  top: 0;
  left: 0;
  content: "n";
  font-family: "icons";
  text-indent: 0;
  font-weight: normal;
  font-style: normal;
  text-transform: lowercase;
}


